@using GeneMap.BLL.Data.Dto
@model RegisterDto


    <div class="card">
        <div class="card-header">
            <h3 style="font-family:Arial,sans-serif;">Register</h3>
        </div>
        <div class="card-body">
            <form asp-action="Register" asp-controller="Auth">
                <div class="mb-3">
                    <label asp-for="@Model.UserName" class="form-label">Kullanıcı Adı</label>
                    <input class="form-control" asp-for="@Model.UserName" / >
                </div>
            <div class="mb-3">
                <label asp-for="@Model.Email" class="form-label">E-Posta Adresi</label>
                <input class="form-control" type="email" asp-for="@Model.Email" />
            </div>
                <div class="mb-3">
                    <label asp-for="@Model.FirstName" class="form-label">İsim</label>
                    <input class="form-control" asp-for="@Model.FirstName" / >
                </div>
            <div class="mb-3">
                <label asp-for="@Model.LastName" class="form-label">Soyisim</label>
                <input class="form-control" asp-for="@Model.LastName" />
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Password" class="form-label">Şifre</label>
                <input class="form-control" type="password" asp-for="@Model.Password" />
            </div>
            <div class="float-end text-white p-2">
                <button type="submit" class="btn btn-outline-primary">Kaydol</button>
            </div>
            </form>
        </div>
    </div>
