@using GeneMap.BLL.Data.Dto
@using GeneMap.BLL.Data.Entities

@model DiagnosisDto
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <div class="card">
        <div class="card-header">
        <div class="card-title" style="color:white;">Teşhis</div>
        </div>

    @Html.Hidden("ilnessId")
    @Html.Hidden("patientId")

    <div class="card-body" style="color:white;">
        <form asp-action="Add" asp-controller="Diagnosis" method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Teşhis Adı</label>
                <input type="text" class="form-control" asp-for="Name" placeholder="Teşhis Adı" aria-label="default input example" />

            </div>
    
                <label for="ilnessSelect" asp-for=IlnessId class="form-label">Hastalık Seçiniz</label>
                <input type="hidden" asp-for="IlnessId" / >
                <input type="hidden"  asp-for="PatientId" />

                <div class="mb-3" id="ilnessName" >
          
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Description" class="form-label">Açıklama</label>
                    <textarea class="form-control" asp-for="@Model.Description" type="text" placeholder="Açıklama" aria-label="default input example"></textarea>
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.DiagnosisDate" class="form-label">Teşhis Tarihi</label>
                    <input class="form-control" asp-for="@Model.DiagnosisDate" type="date" placeholder="Teşhis Tarihi"/>
                </div>

                <div class="float-end text-white p-2">
                    <button type="submit" class="btn btn-outline-danger">Teşhis Koy</button>
                </div>
            </form>
        </div>

    </div>  


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {
            // Hastalık seçeneklerini yükle
        $("#ilnessName").load('@Url.Action("GetIlness", "Diagnosis")', function (response, status, xhr) {
                if (status === "error") {
                    alert("Hastalıklar yüklenirken bir hata oluştu: " + xhr.status + " " + xhr.statusText);
                }
            $('select[name="IlnessId"]').change(function () {
                var selectedValue = $(this).val();
                $('input[name="IlnessId"]').val(selectedValue);
            });

            var patientId = "@Model.PatientId";
            $('input[name="PatientId"]').val(patientId);
            });
        });

    </script>