@using GeneMap.BLL.Data.Dto
@model List<IlnessDto>


    @Html.Hidden("ilnessId")
    @Html.Hidden("PatientId")
<select name="IlnessId" class="form-control">
   
    <option>Hastalık seçiniz</option>
    @foreach (var item in Model)
    {
        <option value="@item.IlnessId">@item.IlnessName</option>
    }
</select>


<div class="pt-3">
    Hastalık durumu seçiniz

    <select name="DiseaseStageId" class="form-control">
        <option>Hastalık durumu seçiniz</option>
        @foreach (var item in Model)
        {
            <option value="@item.DiseaseStage">@item.DiseaseStage</option>
        }
    </select>
</div>
